•	Apartado 1: 
Crea un DataFrame llamado df a partir de la lista de razas y puntuaciones otorgadas por Enrique, usando el índice, las columnas que se te proporcionan.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy as sp

indice = ['uno','dos','tres','cuatro','cinco']
columnas = ['Raza','Puntos']
lista = [['Caniche',8.1],['Bulldog',7.3],['ChowChow',7.6],['Chihuahua',9.0],['Labrador',9.3]]

df=pd.DataFrame(lista,columns=columnas)

print('----------------------------')
print('--- Apartado 1            --')
print('----------------------------')
print(df)

----------------------------
--- Apartado 1            --
----------------------------
        Raza  Puntos
0    Caniche     8.1
1    Bulldog     7.3
2   ChowChow     7.6
3  Chihuahua     9.0
4   Labrador     9.3

•	Apartado 2: 
Ana le entrega sus puntuaciones a Enrique y éste las transcribe en forma de la siguiente lista:

puntos_ana = [61,75,82,95,99]
Añade la columna con etiqueta 'PuntosAna' al DataFrame.

In [2]:
puntos_ana = [61,75,82,95,99]

df['PuntosAna']=puntos_ana

print('----------------------------')
print('--- Apartado 2            --')
print('----------------------------')

print(df)

----------------------------
--- Apartado 2            --
----------------------------
        Raza  Puntos  PuntosAna
0    Caniche     8.1         61
1    Bulldog     7.3         75
2   ChowChow     7.6         82
3  Chihuahua     9.0         95
4   Labrador     9.3         99

•	Apartado 3: 
Como las puntuaciones de Ana han entrado en valores de 0 a 100 y las de Enrique estaban de 0 a 10, divide la columna 'PuntosAna' entre 10 de modo que todas las puntuaciones queden en la misma escala.

In [3]:
df['PuntosAna'] = df['PuntosAna'] / 10
print('----------------------------')
print('--- Apartado 3            --')
print('----------------------------')

print(df)

----------------------------
--- Apartado 3            --
----------------------------
        Raza  Puntos  PuntosAna
0    Caniche     8.1        6.1
1    Bulldog     7.3        7.5
2   ChowChow     7.6        8.2
3  Chihuahua     9.0        9.5
4   Labrador     9.3        9.9

•	Apartado 4: 
Enrique y Ana han estado viendo una revista de animales y han decidido añadir otras dos razas más, por lo que han creado la siguiente lista ya con sus puntuaciones integradas. 
lista2 = [['Samoyedo',9.2,8.9],['Pinscher',8.1,6.7]]
Añade esas dos nuevas filas al DataFrame.

In [4]:
columnas2 = ['Raza','Puntos','PuntosAna']
lista2 = [['Samoyedo',9.2,8.9],['Pinscher',8.1,6.7]]
df2 = pd.DataFrame(lista2,columns=columnas2)

df = pd.concat([df,df2],ignore_index=True)

print('----------------------------')
print('--- Apartado 4            --')
print('----------------------------')

print(df)

----------------------------
--- Apartado 4            --
----------------------------
        Raza  Puntos  PuntosAna
0    Caniche     8.1        6.1
1    Bulldog     7.3        7.5
2   ChowChow     7.6        8.2
3  Chihuahua     9.0        9.5
4   Labrador     9.3        9.9
5   Samoyedo     9.2        8.9
6   Pinscher     8.1        6.7

•	Apartado 5: 
Crea la columna 'Media' para poder ver la puntuación media para cada raza.

In [5]:
df['Media'] = df.select_dtypes(include=[np.number]).mean(axis=1)
print('----------------------------')
print('--- Apartado 5            --')
print('----------------------------')

print(df)

----------------------------
--- Apartado 5            --
----------------------------
        Raza  Puntos  PuntosAna  Media
0    Caniche     8.1        6.1   7.10
1    Bulldog     7.3        7.5   7.40
2   ChowChow     7.6        8.2   7.90
3  Chihuahua     9.0        9.5   9.25
4   Labrador     9.3        9.9   9.60
5   Samoyedo     9.2        8.9   9.05
6   Pinscher     8.1        6.7   7.40

•	Apartado 6: 
Enrique y Ana deciden que no tendrán un bulldog. Elimina la fila cuyo índice es 'dos'.

In [6]:
df=df.drop(1)
print('----------------------------')
print('--- Apartado 6            --')
print('----------------------------')

print(df)

----------------------------
--- Apartado 6            --
----------------------------
        Raza  Puntos  PuntosAna  Media
0    Caniche     8.1        6.1   7.10
2   ChowChow     7.6        8.2   7.90
3  Chihuahua     9.0        9.5   9.25
4   Labrador     9.3        9.9   9.60
5   Samoyedo     9.2        8.9   9.05
6   Pinscher     8.1        6.7   7.40

•	Apartado 7: 
Viendo las puntuaciones medias, Enrique y Ana deciden que la decisión va a estar entre chihuahua, labrador y samoyedo, por lo que deciden obtener sólo esas filas del DataFrame (en concreto desde la posición 2 hasta la 5 -no incluída-).

In [7]:
df2 = df[2:5]
print('----------------------------')
print('--- Apartado 7            --')
print('----------------------------')

print(df2)

----------------------------
--- Apartado 7            --
----------------------------
        Raza  Puntos  PuntosAna  Media
3  Chihuahua     9.0        9.5   9.25
4   Labrador     9.3        9.9   9.60
5   Samoyedo     9.2        8.9   9.05

•	Apartado 8: 
Por último, sólo por curiosidad, deciden ver información estadística sobre las filas que les han quedado.

In [8]:
print(df2.describe())

         Puntos  PuntosAna     Media
count  3.000000   3.000000  3.000000
mean   9.166667   9.433333  9.300000
std    0.152753   0.503322  0.278388
min    9.000000   8.900000  9.050000
25%    9.100000   9.200000  9.150000
50%    9.200000   9.500000  9.250000
75%    9.250000   9.700000  9.425000
max    9.300000   9.900000  9.600000